.advantages__photo {
  display: block;
  width: 320px;
  height: 260px;

  @media (min-width: @tablet) {
    width: 100%;
    height: 256px;

    &--right-image {
      grid-column: 2/4;
    }

    &--left-image {
      grid-column: 1/3;
      grid-row: 1/2;
    }
  }
}
