.main-nav {
  background-color: #ffffff;
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  z-index: 2;

  @media (min-width: @tablet) {
    display: none;
  }
}

.site-list__item {
  background-color: @main-color;
  width: 100%;
  mix-blend-mode: normal;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  @media (max-width: @tablet) {
    &:hover {
      background-color: @main-color-hover;
    }

    &:active {
      background-color: @main-color-down;

      & > .navigation__link {
        color: rgba(255, 255, 255, 0.3);
      }
    }

    &:focus-within {
      background-color: @main-color-hover;

      & > .navigation__link {
        outline: none;
      }
    }
  }

  @media (min-width: @tablet) {
    background-color: #ffffff;
    box-shadow: none;

    &:nth-child(3) {
      grid-column: 4/5;
    }
  }
}

.site-list__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 17px 0 12px;

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: @tablet) {
    padding: 18px 15px 17px;
    font-size: 14px;
    line-height: 150%;
    color: #000000;

    &:hover {
      color: #81b3d2;
    }

    &:focus {
      outline: none;
      color: #81b3d2;
    }

    &--current {
      color: #766357;
    }
  }
}
